@import "@fontsource/schoolbell";

* {
  box-sizing: border-box;
}

form {
  display: inline-block;
}

body {
  font-family: "Schoolbell", sans-serif;
  font-weight: bold;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

canvas {
  border: solid 3px black;
  border-radius: 4px;
  touch-action: none;
}

drawing-editor[mode="draw"] {
  cursor: none;
}

svg.icon {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

input[type="color"] {
  width: 48px;
  height: 48px;
  padding: 0;
  border: solid 3px black;
  background: transparent;
  border-radius: 4px;
}

input[type="text"] {
  border: solid 3px black;
  font: inherit;
  border-radius: 4px;
}

button {
  background: transparent;
  border: solid 3px black;
  font: inherit;
  border-radius: 4px;
}

dialog {
  border: solid 3px black;
  font: inherit;
  border-radius: 4px;
  flex-direction: column;
  gap: 4px;
}

.button {
  padding: 0;
  border: 0;
  opacity: 50%;
}

.button:hover,
.button:active,
.button[aria-pressed] {
  opacity: 100%;
}

drawing-tool {
  opacity: 50%;
}

drawing-tool:hover,
drawing-tool[aria-pressed] {
  opacity: 100%;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: currentColor;
  mask-size: contain;
  mask-position: center;
}

.inline-icon {
  width: 1em;
  height: 1em;
}

.icon-check {
  mask-image: url(./assets/check.svg);
}

.icon-eraser {
  mask-image: url(./assets/eraser.svg);
}

.icon-fill {
  mask-image: url(./assets/fill.svg);
}

.icon-im-done {
  mask-image: url(./assets/im-done.svg);
}

.icon-lets-go {
  mask-image: url(./assets/lets-go.svg);
}

.icon-new-game {
  mask-image: url(./assets/new-game.svg);
}

.icon-next {
  mask-image: url(./assets/next.svg);
}

.icon-not-done {
  mask-image: url(./assets/not-done.svg);
}

.icon-pen {
  mask-image: url(./assets/pen.svg);
}

.icon-player {
  mask-image: url(./assets/player.svg);
}

.icon-prev {
  mask-image: url(./assets/prev.svg);
}

.icon-text {
  mask-image: url(./assets/text.svg);
}

.icon-cover {
  mask-image: url(./assets/cover.svg);
}

.icon-im-done:hover {
  color: #6de823;
}

.icon-not-done:hover {
  color: red;
}

.icon-new-game:hover,
.icon-lets-go:hover,
.icon-check:hover {
  color: #6de823;
}

.color-swatch input,
.brush-swatch input {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.color-swatch {
  width: 32px;
  height: 32px;
  border: solid 3px black;
  border-radius: 4px;
  flex-shrink: 0;
}

.brush-swatch {
  width: 32px;
  height: 32px;
  border: solid 3px black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-circle {
  display: inline-flex;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: black;
}
